<h1>Search Results</h1>

{{#if q}}
  <p>Showing results for <strong>{{q}}</strong> (page {{page}})</p>
{{/if}}

{{#if items.length}}
  <ul class="course-list">
    {{#each items}}
      <li class="course-item">
        <strong>{{courseName}}</strong> ({{courseId}})
        <div class="meta">
          Professor: {{professor}}
          {{#if courseRating}} | Rating: {{courseRating}}{{/if}}
          {{#if reviewCount}} | Reviews: {{reviewCount}}{{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="empty">No courses matched your search.</p>
{{/if}}
