<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>{{title}}</title>

		<!-- Bootstrap CSS -->
		<link
			rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'
		/>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>

		<!-- Your custom CSS -->
		<link rel='stylesheet' href='/public/css/styles.css' />
		<link rel='stylesheet' href='/public/css/stats.css' />
	</head>
	<body>
		<!-- Navbar -->
		<nav class='navbar navbar-expand-lg navbar-light bg-light'>
			{{#if user}}
				<a class='navbar-brand' href='/user/userDashboard'>Class Review</a>
			{{else}}
				<a class='navbar-brand' href='/'>Class Review</a>
			{{/if}}
			<div class='collapse navbar-collapse' id='navbarNav'>
				<ul class='navbar-nav'>
					<li class='nav-item active'><a
							class='nav-link'
							href='/stats/dashboard'
						>Stats</a></li>
					<li class='nav-item active'><a
							class='nav-link'
							href='/courses/allCourses'
						>Courses</a></li>
					<li class='nav-item active'><a
							class='nav-link'
							href='/courses/search'
						>Search</a></li>

                    {{!-- admin-only links --}}
                    {{#if isAdmin}}
                        <li class='nav-item active'>
                            <a class='nav-link' href='/courses/new'>Create Course</a>
                        </li>
                    {{/if}}
                    {{!-- end block for admin-only links --}}

					{{#if user}}
						<li class='nav-item active'><a
								class='nav-link'
								href='/logout'
							>Logout</a></li>
						<li class='nav-item active'><a
								class='nav-link'
								href='/user/{{user._id}}'
							>Profile</a></li>
						
					{{else}}
						<li class='nav-item active'><a class='nav-link' href='/login'>Login</a></li>
						<li class='nav-item active'><a
								class='nav-link'
								href='/register'
							>Register</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>

		<!-- Main content -->
		<main class='container my-4'>
			{{{body}}}
		</main>

		<!-- Footer -->
		<footer class='bg-dark text-light py-3 mt-auto'>
			<div class='container text-center'>
				<p class='mb-0'>&copy; {{year}} Class Review Website</p>
			</div>
		</footer>
	</body>
</html>