<h2 class="mb-4">All Courses</h2>

{{#if items.length}}
	<div class="table-responsive">
		<table class="table table-hover align-middle">
			<thead class="table-dark">
				<tr>
					<th scope="col">Image</th>
					<th scope="col">Course ID</th>
					<th scope="col">Course Name</th>
					<th scope="col">Professor</th>
					<th scope="col">Rating</th>

					{{!-- Only show admin actions column if logged in user is admin --}}
					{{#if (eq../user.role 'admin')}}
						<th scope="col">Admin Actions</th>
					{{/if}}
				</tr>
			</thead>
			<tbody>
				{{#each items}}
					<tr onclick="window.location='/course/{{this._id}}'" style="cursor:pointer;">
						<td>
							<img 
								src="{{this.imgLink}}" 
								alt="Course image for {{this.courseId}}" 
								class="img-fluid rounded" 
								style="max-width: 60px; height: auto;" 
							/>
						</td>
						<td>{{this.courseId}}</td>
						<td>{{this.courseName}}</td>
						<td>{{this.professor}}</td>
						<td>
							<span class="badge bg-primary">{{this.courseRating}}</span>
						</td>

						{{!-- Only show edit/delete if user is admin --}}
						{{#if (eq.../user.role 'admin')}}
							<td>
								<a href="/courses/edit/{{this._id}}" class="btn btn-sm btn-warning">Edit</a>
								<a href="/courses/delete/{{this._id}}" class="btn btn-sm btn-danger">Delete</a>
							</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	{{!-- Show "add course" button only for admins --}}
	{{#if (eq user.role 'admin')}}
		<div class="mt-3">
			<a href="/courses/create" class="btn btn-success">Add New Course</a>
		</div>
	{{/if}}
	
{{else}}
	<div class="alert alert-warning" role="alert">
		No courses found.
	</div>
{{/if}}
