{{#if user.userCreated}}
<div>
	<a href='/course/editCourse/{{course._id}}' class='btn btn-outline-secondary'>Edit Course</a>
</div>
{{/if}}
<h2>{{course.courseId}}: {{course.courseName}}</h2>
<p>{{course.courseDescription}}</p>
<p>{{course.professor}}</p>